.boardWrap{
    border: solid;
    border-color: black;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-flow : row wrap;
}

.boardSquare{
    border: 1px solid blue;
    width: 48px;
    height: 48px;
}


.boardButton{
    width: 20px;
    height: 20px;
    border: none;
    background-color:rgba(0,0,0,0);
    position : relative; 
    left : -25px;
    top:-12.5px;
}   

.buttonWrap{
    text-align: center;
    border: 3px solid black;
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
}


.stone{
    position : relative;
    left : -17px;
    top:-17px;
    height:30px;
    width:30px;
    border-radius:50%;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
    border: 1px solid black;
}